.footer {
  background-color: $grey-light;

  .footer-primary {
    background-color: $grey-lightest;
  }

  .footer-secondary {
		padding-top: 2rem;
    background-color: $grey-lighter;
    padding-bottom: 2rem;
  }
}
