{% set image = post.featured_images.first %}
  <article class="card">
          <div class="card-image">
              <a href="{{ post.url }}">
                <figure class="image is-2by3">
                  <img src="{{ image.path }}" alt="{{ post.title }}" />
                </figure>
              </a>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <h3 class="title is-size-4"><a href="{{ post.url }}">{{ post.title }}</a></h3>
              </div>
            </div>
            <div class="content">
              {{ post.summary|truncate(100)|raw }}
            </div>
            <div class="date">
              <span class="published"><i class="far fa-calendar-alt"></i> {{ post.published_at|date('M d, Y') }}</span>
              {# <span class="author">{{ post.author.full_name }}</span> #}
            </div>
            {% if post.categories.count %}
            <div class="category-holder">
              {% for category in post.categories %}
              <a class="category-holder-title" href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
  </article>
