<!--footer 1 start -->
<svg class="footer-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
	<path fill="#ededed" fill-opacity="1"
		d="M0,128L60,138.7C120,149,240,171,360,192C480,213,600,235,720,224C840,213,960,171,1080,160C1200,149,1320,171,1380,181.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
	</path>
</svg>
<div class="footer-primary">
	<div class="ridoo">

	</div>
	<div class="content has-text-centered">
		<p class="is-size-5"> <strong>DidgeNation.com</strong> is volunteer project developed by super heroes, join us and become a hero! Check <a class="is-underline" href="{{ 'become-hero'|staticPage }}">how to become a hero!</a></p>

	</div>
	<div class="container">
		<div class="columns">
			<div class="column is-3 has-text-centered">
				<h5 class="title is-size-5">Popular posts</h5>
				<ul class="">
					<li><a href="#">Standard Blog post</a>
					</li>
					<li><a href="#">Quotation post</a>
					</li>
					<li><a href="#">Audio Post</a>
					</li>
					<li><a href="#">Massive Video Demo</a>
					</li>
					<li><a href="#">Blog Image Post</a>
					</li>
				</ul>
			</div>
			<div class="column is-3 has-text-centered">
				<h5 class="title is-size-5">Popular Categories</h5>
				<ul class="">
					<li><a href="#">Standard Blog post</a>
					</li>
					<li><a href="#">Quotation post</a>
					</li>
					<li><a href="#">Audio Post</a>
					</li>
					<li><a href="#">Massive Video Demo</a>
					</li>
					<li><a href="#">Blog Image Post</a>
					</li>
				</ul>
			</div>
			<div class="column is-3 has-text-centered">
				<h5 class="title is-size-5">Information</h5>
				<ul class="f-list">
					<li><a href="#">About Us</a>
					</li>
					<li><a href="#">Join Us</a>
					</li>
					<li><a href="#">Terms & Condition</a>
					</li>
					<li><a href="#">Privacy Policy</a>
					</li>
					<li><a href="#">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="column is-3 has-text-centered">
				<h5 class="title is-size-5">Photos of the Week</h5>
				<ul class="r-work">
					<li>
						<a href="#">
							<img src="assets/img/recent-work/1.jpg" alt="" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/recent-work/2.jpg" alt="" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/recent-work/3.jpg" alt="" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/recent-work/4.jpg" alt="" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/recent-work/5.jpg" alt="" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/recent-work/6.jpg" alt="" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/recent-work/7.jpg" alt="" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/recent-work/8.jpg" alt="" />
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/recent-work/9.jpg" alt="" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--footer 2 start -->
<div class="footer-secondary">
	<div class="container">
		<div class="columns">
			<div class="column has-text-centered">
				<p class="credit">
					&copy; {{ "now"|date("Y") }}
					&mdash; DidgeNation | All Rights Reserved
				</p>
				<div class="social-link">
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

