
<article class="widget comic-author">
	<div class="has-text-centered">
		<h2 class="title is-size-4">
			About the Author
		</h2>
		<figure class="image is-128x128">
			<img class="is-rounded"
				src="https://www.didgenation.com/portal/storage/app/uploads/public/5f0/1ad/ed0/5f01aded0953b639477551.jpg">
		</figure>
		<h2 class="title is-size-5">
			Francis Collie
		</h2>
		<h3 class="subtitle is-size-6">
			Comic strip illustrator, tracker, and graphic designer
		</h3>
		<p class="biography">
			Creator of Je Suis la Piste, an association to re-discover ancient know-how like tracking, fire making, flint
			knapping, and spear throwing, in order to pass it on to people. Comic strip artist and author of Call of the
			Didge.
		</p>
	</div>
</article>

<article class="widget">
	{% partial 'widgets/recent-posts-comics' %}
</article>
