/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/bootstrap
/config
/modules
/plugins
/storage
/vendor
/artisan
/themes/demo
/index.php
/server.php
/.htaccess
themes/mytheme/assets/js/theme.min.js
themes/mytheme/assets/css/theme.min.css
themes/mytheme/assets/js/theme.min.js
