<div class="block-about">
	<div class="title-holder">
		<span class="title-holder-definition">About US</span>
	</div>
	<p>We imagine a library of facts, festivals, music and art to be browsed at your leisure. A place for you to discover
	new ideas and find old favourites in the Didgeridoo World. Somewhere you want to return to over and over. We are here to connect <b>Didgeridoo Nation</b>
	</p>

	<p class="has-text-centered"><a class="button" href="{{ 'about-us'|staticPage }}">Join Us</a></p>
</div>

