<div class="block-articles is-community">
  <div class="title-holder">
    <span class="title-holder-definition">Community</span>
  </div>

  <div class="columns">
    <div class="column is-one-quarter">
        {% partial 'home/community/post-cat-community-1' %}
    </div>
    <div class="column">
      <div class="columns is-ff-column">
        {% partial 'home/community/post-cat-community-2' %}
      </div>
    </div>
    <div class="column">
      <div class="columns is-ff-wrap">
        {% partial 'home/community/post-cat-community-3' %}
      </div>
    </div>
  </div>
</div>
