title = "Didgeridoo Album"
url = "/music/album/:slug"
layout = "music"
description = "Viewing a single blog post for music"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "music/category"

[nextAndPrev]
category = 3
postPage = "blog/post"
==
<?php
function onEnd()

{

    if ($this->post) {

        $this->page->title = $this->post->title;

    }

    else {

        return Redirect::to($this->pageUrl('404'));

    }

}
?>
==
{% set image = post.featured_images.first %}

{% set nextPost = blogPost.nextPost %}

{% set lastPost = blogPost.previousPost %}



<!-- Excerpt Post Section -->

<div class="content">

	<span class="tag">{{ post.published_at|date('M d, Y') }}</span>

	{% if post.categories.count %} in category

	<span class="tag">

		{% for category in post.categories %}

		<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}

		{% endfor %}

	</span>

	{% endif %}

	<h1 class="title is-size-4">

		<a href="{{ post.url }}">{{ post.title }}</a>

	</h1>

	<h2 class="subtitle is-size-5 has-text-weight-normal is-italic">

		{{ post.excerpt|raw }}

	</h2>

</div>



<!-- Beginning of the Post -->

<article class="content">

	<div class="columns is-vcentered">

		<div class="column">

			<header class="post-image">

			{% if image %}

				<figure class="image is-square is-image-cover as-center">

					<img src="{{ image.path }}" alt="{{ post.title }}" />

				</figure>

			{% endif %}

			</header>

		</div>

		<div class="column">

			<div class="content">

				{{ post.content_html|raw }}

			</div>

		</div>

	</div>

	<footer>

		{% if post.categories.count %} in category

		<span class="tag is-medium">

			{% for category in post.categories %}

			<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}

			{% endfor %}

		</span>

		{% endif %}

	</footer>

</article>



<!-- Next / Previous Post Navigation -->
<div class="block-post-navigation">
	<h3 class="subtitle is-3 has-text-centered">Check more Cds</h3>
	{% component 'nextAndPrev' %}
</div>
