// ***************** UTILITY ***************** //
// Description:
// Global utiliy class to be used in markup
// --------------------------------------------------


/**
 * General helper classes for controlling display
 */

.u-display-none {
  display: none !important;
}

.u-display-block {
  display: block !important;
}

.u-display-inline-block {
  display: inline-block !important;
}

.u-display-flex {
  display: flex !important;
}


/**
 * Hide content from view, but leave it accessible to screenreaders.
 *
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.u-hide-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

/**
 * First letter style
 */

.u-first-letter {
  line-height: 30px;

  &::first-letter {
    float: left;
    line-height: 40px;
    font-family: serif;
    font-size: 40px;
    color: #e2ae7f;
    font-weight: 400;
    margin: 0 10px 0 10px;
  }
}

/**
 * General helper classes for image control
 */

.is-image-cover {
  img {
    object-fit: cover;
  }
}

.is-image-contain {
  img {
    object-fit: contain;
  }
}

.is-image-fill {
  img {
    object-fit: fill;
  }
}

.is-image-scale {
  img {
    object-fit: scale-down;
  }
}

.is-image-normal {
  img {
    object-fit: none;
  }
}

.is-image-cover,
.is-image-contain,
.is-image-scale,
.is-image-fill,
.is-image-normal {

  &.as-top {
    img {
      object-position: top;
    }
  }

  &.as-center {
    img {
      object-position: center;
    }
  }

  &.as-bottom {
    img {
      object-position: bottom;
    }
  }

  &.as-left {
    img {
      object-position: left;
    }
  }

  &.as-right {
    img {
      object-position: right;
    }
  }
}
