// ***************** UTILITY ***************** //
// Description:
// Global utiliy class to be used in markup
// --------------------------------------------------


/**
 * General helper classes for controlling display
 *
 */

.u-display-none {
  display: none !important;
}

.u-display-block {
  display: block !important;
}

.u-display-inline-block {
  display: inline-block !important;
}

.u-display-flex {
  display: flex !important;
}


/**
 * Hide content from view, but leave it accessible to screenreaders.
 *
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.u-hide-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}


.is-cover {
  img {
    object-fit: cover;
  }

  &.as-top {
    img {
      object-position: top;
    }
  }

  &.as-center {
    img {
      object-position: center;
    }
  }

  &.as-bottom {
    img {
      object-position: bottom;
    }
  }
}
