title = "Blog Post"
url = "/blog/post/:slug"
layout = "post"
description = "Viewing a single blog post"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
exceptCategories = "jenn-editing, slider-home"

==
<?php
function onEnd()
{
    if ($this->post) {
        $this->page->title = $this->post->title;
    }
    else {
        return Redirect::to($this->pageUrl('404'));
    }
}
?>
==
{% set image = post.featured_images.first %}
{% set nextPost = blogPost.nextPost %}
{% set lastPost = blogPost.previousPost %}

<!-- Excerpt Post Section -->
<div class="content">
	<span class="tag">{{ post.published_at|date('M d, Y') }}</span>
	<h1 class="title">{{ post.title }}<small></small></h1>
	<div class="intro">
		{{ post.excerpt|raw }}
	</div>
</div>

<!-- Beginning of the Post -->

<article class="content">
	<header class="post-image">
		{% if image %}
			<figure class="image is-3by1 is-image-cover as-top">
				<img src="{{ image.path }}" alt="{{ post.title }}" />
			</figure>
		{% endif %}
	</header>

	<div class="content">
		{{ post.content_html|raw }}
	</div>

	<footer>
		<span class="tag">{{ post.published_at|date('M d, Y') }}</span>
		{# <span class="author"><i class="icon icon-user"></i> {{ post.author.full_name }}</span> #}
		{% if post.categories.count %} in
		<span class="category">
			{% for category in post.categories %}
			<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
		</span>
		{% endif %}
	</footer>
</article>

<!-- Author Section -->
<div class="block-author">
	<h3 class="subtitle is-3">Article written by</h3>
	<div class="media">
		<figure class="image is-128x128">
			<img class="is-rounded" src="{{ post.user.getAvatarThumb(128) }}" >
		</figure>

		<div class="media-content">
			<div class="content">
				<strong>{{ post.user.first_name }} {{ post.user.last_name }}</strong>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
					vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
				</p>
			</div>
			<nav class="level is-mobile">
				<div class="level-left">
					<a class="level-item">
						<span class="icon is-small"><i class="fas fa-envelope"></i></span>
					</a>
					<a class="level-item">
						<span class="icon is-small"><i class="fab fa-facebook-f"></i></span>
					</a>
					<a class="level-item">
						<span class="icon is-small"><i class="fab fa-twitter"></i></i></span>
					</a>
					<a class="level-item">
						<span class="icon is-small"><i class="fab fa-instagram"></i></i></span>
					</a>
				</div>
			</nav>
		</div>
	</div>
</div>

<!-- Next / Previous Post Navigation -->
<div class="block-post-navigation">
	<h3 class="subtitle is-3 has-text-centered">Don´t forget to check other articles</h3>

	<nav class="pagination is-centered" role="navigation" aria-label="pagination">

		{% if lastPost %}
		<a class="pagination-previous" href="{{ lastPost.url }}">
			{{ lastPost.title }}
		</a>
		{% endif %}
		{% if nextPost %}
		<a class="pagination-next" href="{{ nextPost.url }}">
			{{ nextPost.title }}
		</a>
		{% endif %}
	</nav>
</div>
