description = "Home Page Layout"
==
<!DOCTYPE html>

<html lang="eng">
    
    <head>
        {% partial 'site/meta' %}
    </head>
    
    <body class="is_{{ this.page.id }}{{ class ? ' ' ~ class }}">
            
            <!-- Header -->
            <header class="header">
                {% partial 'site/header' %}
            </header>

            <!-- Content -->
            <section class="container">
              {% page %}
            </section>

            <!-- Footer -->
            <footer class="footer">
                {% partial 'site/footer' %}
            </footer>


        <!-- Scripts -->
        {% partial 'site/scripts' %}
    </body>
</html>
