description = "Post Page Layout"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"

[postsWithTag]
tag = "{{ :tag }}"
orderBy = "published_at asc"
page = "{{ :page }}"
resultsPerPage = 10
postPage = "blog/post"
categoryPage = "blog/category"
==
<!DOCTYPE html>

<html lang="eng">

    <head>
        {% partial 'site/meta' %}
    </head>

    <body class="is_{{ this.page.id }}{{ class ? ' ' ~ class }}">

            <!-- Header -->
            <header class="header">
                {% partial 'site/header' %}
            </header>

			<div class="container">
				<div class="columns">
					<!-- Content -->
					<section class="column is-9">
					{% page %}
					</section>

					<!-- Sidebar -->
					<aside class="column is-3 sidebar">
						<article id="widget_1" class="widget">{% component 'blogCategories' %}</article>
						<article id="widget_2" class="widget">{% component 'postsWithTag' %}</article>
						<article id="widget_3" class="widget">...</article>
					</aside>
				</div>
            </div>

            <!-- Footer -->
            <footer class="footer">
                {% partial 'site/footer' %}
            </footer>


        <!-- Scripts -->
        {% partial 'site/scripts' %}
    </body>
</html>