description = "Post Page Layout"
[poll playing]
poll-reference = "playing-position"
==
<!DOCTYPE html>

<html lang="eng">

<head>
	{% partial 'site/meta' %}
</head>

<body class="is_{{ this.page.id }}{{ class ? ' ' ~ class }}">

	<!-- Header -->
	<header class="header">
		{% partial 'site/header' %}
	</header>

	<div class="container">
		<div class="columns">
			<!-- Content -->
			<section class="column">
				{% page %}
			</section>

			<!-- Sidebar -->
			<aside class="column is-3 sidebar">
				{% partial 'site/sidebar-post' %}
			</aside>
		</div>
	</div>

	<!-- Footer -->
	<footer class="footer">
		{% partial 'site/footer' %}
	</footer>


	<!-- Scripts -->
	{% partial 'site/scripts' %}
</body>

</html>
