// ***************** VARIABLES ***************** //
// Description:
// General global variables used in the project
// --------------------------------------------------

//////////////////////////////////////////////////////Level 1 Variables///////////////////////////////////////////////////////////////

// ==================================================
// Font Family
// ==================================================
$montserrat: "Montserrat",
sans-serif;
$muli: "Muli",
sans-serif;

// ==================================================
// Colors : Names from : http://chir.ag/projects/name-that-color
// ==================================================
$white: #fff;
$red: #bc0026;
$black: #000;
$green: #228b22;
$gray-light: #dbdbdb;
$gray: #b5b5b5;
$gray-dark: #7a7a7a;


////////////////////////////////////////////////////// Level 2 Variables///////////////////////////////////////////////////////////////

// ==================================================
// Project Theme Color
// ==================================================
$brand-theme-active: $black;
$brand-theme-passive: $gray;

// ==================================================
// Category Colors
// ==================================================
$cat-slider : #111d5e;
$cat-opinion : #c70039;
$cat-trending : #f37121;
$cat-other : #21f3ad;
$cat-month : #ffbd69;
$cat-community : #27abdf;
$cat-music : #BCC138;
$cat-about : #c1388c;

// ==================================================
// Global Variables
// ==================================================
$global-easing: cubic-bezier(1, 0.04, 0.01, 1);
$global-transition: all 0.2s ease-in-out;
$global-error: $red;
$global-successful: $green;
$global-border: 1px solid $gray;
$global-border-light: 1px solid rgba($gray, 0.3);
$global-border-bold: 1px solid $black;
$global-border-radius-component: 5px;
$global-border-radius-circule: 50%;
$global-circule-shadow: 1px 3px 63px -6px rgba(198, 191, 191, 0.3);
$global-box-shadow-component: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$global-box-shadow-hover: 0px 3px 12px 0px rgba(0, 0, 0, 0.3);
$global-component-background-light: $white;
$global-component-background-mid: $gray;
$global-component-background-dark: $black;
$global-gutter: 40px;
$global-gutter-small: 20px;

// ==================================================
// Body
// ==================================================
$body-color: $white;
// $body-font-size: 16px;
// $body-font-size-xs: 10px;
// $body-font-size-s: 12px;
// $body-font-size-xl: 16px;
// $body-font-size-xxl: 18px;
$body-font-family: $muli;
$body-font-weight: 300;
$body-font-weight-bold: 700;
$body-font-color-dark: $black;
$body-font-color-mid: $gray;
$body-font-color-light: $white;
$body-line-height-xs: 16px;
$body-line-height-s: 22px;
$body-line-height-xl: 24px;
$body-line-height-xxl: 28px;
$body-paragraph-margin: 16px;

// ==================================================
// Title
// ==================================================
$title-font-family: $montserrat;
$title-font-weight: 600;
$title-font-weight-bold: 700;
$title-font-size-xl: 32px;
$title-font-size-s: 19px;
$title-color: $brand-theme-active;
$title-text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

// ==================================================
// Icons
// ==================================================
$icon-color: $brand-theme-active;

// ==================================================
// components
// ==================================================
$component-max-width: 1300px;

// ==================================================
// Buttons
// ==================================================
$btn-border-color: $gray;
$btn-border: 1px solid $btn-border-color;
$btn-border-dark: 1px solid $brand-theme-passive;
$btn-background: $brand-theme-active;
$btn-hover: $brand-theme-passive;
$btn-font-family: $body-font-family;
$btn-font-size: 14px;
$btn-font-weight: 600;
$btn-small-padding: 2px 8px;
$btn-normal-padding: 12px 8px;
$btn-opacity-over: 0.7;


// ======================================
// Breakpoints System
// ======================================

// Smaller mobile resolution
$xs: "screen and (max-width: 375px)";

// Mobile. Mobile is already default but you might need this breakpoint for show/hide functionality
$s: "screen and (max-width: 767px)";

// Tablet up (so incl. mobile)
$m: "screen and (min-width: 768px)";

// mobile and tablet only.
$s-m: "screen and (max-width:1024px)";

// mobile until destktop XL;.
$s-xl: "screen and (max-width:1200px)";

// Tablet only.
$m-t: "screen and (min-width: 768px) and (max-width:1024px)";

// Tablet portrait only.
$t-only: "screen and (min-width: 768px) and (max-width:1024px) and (orientation: portrait)";

// Tablet portrait xl only ( this breakpoint was needed to fix the problem of the navigation in big tablets)
$t-only-xl: "screen and (min-width: 1024px) and (orientation: portrait)";

// Tablet to desktop medium only.
$m-xl: "screen and (min-width: 768px) and (max-width:1199px)";

// Desktop up
$l: "screen and (min-width: 1025px)";

// Desktop medium
$xl: "screen and (min-width: 1200px)";

// Desktop above content width
$xxl: "screen and (min-width: 1600px)";

// Desktop medium only.
$xl-xxl: "screen and (min-width: 1200px) and (max-width:1599px)";

// IE 11 Exceptions
$ie11: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)";
