// ***************** HEADER ***************** //
// Description:
// Generic style used for the header
// --------------------------------------------------

// ==================================================
// Standard Header
// ==================================================
.header {
  margin-bottom: 40px;
}

// ==================================================
// Profile Page Header
// ==================================================

.header.is-profile {
  margin-bottom: 0;
  background-image: url("../images/bg/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;

  .card {
    margin: 40px auto;
    max-width: 600px;
    background-color: rgba($global-component-background-light, 0.9);
    padding: $global-gutter;
    border-radius: $global-border-radius-component;

    .biography {
      border-top: 1px dashed $gray;
      border-bottom: 1px dashed $gray;
      padding-top: 10px;
      line-height: 28px;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    figure {
      display: inline-block;
			padding-bottom: 20px;
			max-width: 200px;
    }

    img {
      padding: 5px;
      border: 2px dotted $gray;
    }
  }
}



.social-media {
  text-align: center;

  a {
    display: inline-block;
    margin-right: 10px;
  }
}
