// ***************** AUTHOR ***************** //
// Description:
// Generic style used for the AUTHOR SECTION
// --------------------------------------------------

.block-author {
  margin-top: $global-gutter;
	padding: $global-gutter;
	background-color: rgba($gray, 0.1);
}
