// ***************** AUTHOR ***************** //
// Description:
// Generic style used for the AUTHOR SECTION
// --------------------------------------------------

.block-post-navigation {
	padding-top: 15px;
  border-top: 1px solid rgba($gray, 0.2);

  .arrow-next,
  .arrow-prev {
    display: inline-block;
  }

  .arrow-prev {
    margin-left: 10px;
    ;
  }

  .arrow-next {
    margin-right: 10px;
    ;
  }
}
