// ***************** NAVIGATION MENU ***************** //
// Description:
// Generic style used for the navigation menu
// --------------------------------------------------

// ==================================================
// Standard Header
// ==================================================

//Fixed-Navigation
$nav-height: 3em;


.hero-head {
  background-color: #f5f5f5;

  &.is-fixed {
    position: fixed;
    top: -($nav-height);
		width: 100%;
		z-index: 2;
  }

  .navbar {
    background-color: transparent;
    padding: 10px;

    @include bp($m) {
			max-width: 1344px;
			margin-left: auto;
			margin-right: auto;
		}
  }
}
