// ***************** SIDEBAR ***************** //
// Description:
// Generic style used for the sidebar
// --------------------------------------------------

.sidebar {
  background-color: $global-component-background-light;
	border-left: 1px solid rgba($gray, 0.2);

  .widget {
		margin-bottom: 1rem;
		padding: 0.75rem;
  }
}

.widget {
	.post-title {
		margin-bottom: 2rem;
	}
}

