// ***************** AUTHOR ***************** //
// Description:
// Generic style used for the AUTHOR SECTION
// --------------------------------------------------

.block-author {
  margin-top: $global-gutter;
  border: $global-border;
  padding: $global-gutter;

  .image {
    margin-right: 20px;
  }
}
