// ***************** AUTHOR ***************** //
// Description:
// Generic style used for the AUTHOR SECTION
// --------------------------------------------------

.block-post-navigation {
  margin-top: 40px;
  border: $global-border;
  padding: $global-gutter;
}
