// ***************** MUSIC ***************** //
// Description:
// Generic style used for the Music block
// --------------------------------------------------

.block-music {
  margin-top: 40px;
  position: relative;
  padding-top: $global-gutter-small;

  .cd-month {
    position: relative;

    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba($global-component-background-light, 0.8);
      padding: 2rem;
      width: 100%;
    }
  }

  .cd-list {
    flex-flow: column;
  }

  .columns {
    .cd-list-item {
      &:last-child {
        .media {
          padding-bottom: 0;
          border: 0;
        }
      }
    }
  }
}

// ==================================================
// Music Sidebar Widget
// ==================================================
.widget-music {
  .cd-list {
    flex-flow: column;
  }

  article {
    border-bottom: $global-border-light;
    padding-bottom: $global-gutter-small;
  }

  .media {
    align-items: center;
  }
}

// ==================================================
// Post Music
// ==================================================

.is_music-category {
  .block-articles {

    .title-holder {
      display: none;
    }
    .column {

      .date {
        display: none;
      }

      .title {
        font-size: 1.5rem;
      }
    }
  }
}
