<!-- add variable to be possible to user the blogtoolbox outside of the profile page  -->
{% set author = post.getAuthor() %}


<!-- Author Section -->
	<h3 class="subtitle is-4">Article written by <small class="subtitle is-size-5 is-italic"><a href="{{ 'profile'|page({'user-slug':
	post.getAuthor().ideaverum_blogtoolbox_user_slug }) }}">{{ post.getAuthor().first_name }} {{ post.getAuthor().last_name }}</a></small></h3>
	<div class="media">
			<div class="columns">
			<figure class="image is-128x128">
				<a href="{{ 'profile'|page({'user-slug':post.getAuthor().ideaverum_blogtoolbox_user_slug }) }}"><img class="is-rounded" src="{{author.getAvatarThumb(128)}}"></a>
			</figure>
			<div class="column">
				<div class="media-content">
					<div class="content">
						<p class="has-text-weight-bold">{{author.ideaverum_blogtoolbox_business_position}}</p>
						<p>{{author.ideaverum_blogtoolbox_bio}}</p>
					</div>
					<nav class="level is-mobile">
						<div class="level-left">
							<div class="social-media">
								{% if author.ideaverum_blogtoolbox_twitch != "" %}
								<a target="_blank" href="{{author.ideaverum_blogtoolbox_twitch}}">
									<span class="icon is-small"><i class="fab fa-chrome"></i></span>
								</a>
								{% endif %}
								{% if author.ideaverum_blogtoolbox_facebook != "" %}
								<a target="_blank" href="{{author.ideaverum_blogtoolbox_facebook}}">
									<span class="icon is-small"><i class="fab fa-facebook-f"></i></span>
								</a>
								{% endif %}
								{% if author.ideaverum_blogtoolbox_youtube != "" %}
								<a target="_blank" href="{{author.ideaverum_blogtoolbox_youtube}}">
									<span class="icon is-small"><i class="fab fa-youtube"></i></span>
								</a>
								{% endif %}
								{% if author.ideaverum_blogtoolbox_twitter != "" %}
								<a target="_blank" href="{{author.ideaverum_blogtoolbox_twitter}}">
									<span class="icon is-small"><i class="fab fa-twitter"></i></span>
								</a>
								{% endif %}
								{% if author.ideaverum_blogtoolbox_instagram != "" %}
								<a target="_blank" href="{{author.ideaverum_blogtoolbox_instagram}}">
									<span class="icon is-small"><i class="fab fa-instagram"></i></span>
								</a>
								{% endif %}
								{% if author.ideaverum_blogtoolbox_linkedin != "" %}
								<a target="_blank" href="{{author.ideaverum_blogtoolbox_linkedin}}">
									<span class="icon is-small"><i class="fab fa-linkedin"></i></span>
								</a>
								{% endif %}
								{% if author.ideaverum_blogtoolbox_medium != "" %}
								<a target="_blank" href="{{author.ideaverum_blogtoolbox_medium}}">
									<span class="icon is-small"><i class="fab fa-medium"></i></span>
								</a>
								{% endif %}
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
