<!-- Musicgraphy Section -->
<div class="block-music">
	<h2 class="title has-text-centered">
		Didgeridoo musicography
	</h2>
	<div class="columns">
		<div class="column cd-month">
			<figure class="image is-square">
				<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
			</figure>
			<div class="content">
				<h3>Cd of the month</h3>
				<h3>Cd title</h3>
				<h4>Band name</h4>
			</div>
		</div>
		<div class="column">
			<div class="columns cd-list">
				<div class="column cd-list-item">
					<article class="media">
						<figure class="media-left">
							<p class="image is-128x128">
								<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
							</p>
						</figure>
						<div class="media-content">
							<div class="content">
								<p>
									<strong>CD Name</strong> <small>by</small> <small>Band name</small>
									<br>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
									pellentesque tortor
									vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
								</p>
								<a href="#">read more</a>
							</div>
						</div>
					</article>
				</div>
				<div class="column"><article class="media">
					<figure class="media-left">
						<p class="image is-128x128">
							<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>CD Name</strong> <small>by</small> <small>Band name</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
								pellentesque tortor
								vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
							</p>
							<a href="#">read more</a>
						</div>
					</div>
				</article></div>
				<div class="column"><article class="media">
					<figure class="media-left">
						<p class="image is-128x128">
							<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>CD Name</strong> <small>by</small> <small>Band name</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
								pellentesque tortor
								vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
							</p>
							<a href="#">read more</a>
						</div>
					</div>
				</article></div>
				<div class="column"><article class="media">
					<figure class="media-left">
						<p class="image is-128x128">
							<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>CD Name</strong> <small>by</small> <small>Band name</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
								pellentesque tortor
								vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
							</p>
							<a href="#">read more</a>
						</div>
					</div>
				</article></div>
			</div>
		</div>
	</div>
</div>
