[blogPosts musicMonth]
pageNumber = "{{ :musicPage }}"
categoryFilter = "music-month"
postsPerPage = 1
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "music/category"
postPage = "music/post"
==

<!-- Musicography Cd of the Month -->
<h3 class="title has-text-centered is-size-4">Album of the Month</h3>
{% for post in musicMonth.posts %}
	{% set image = post.featured_images.first %}
		<figure class="image is-square">
			<a href="{{ post.url }}"><img src="{{ image.path }}" alt="{{ post.title }}" /></a>
			<div class="content">
				<h1 class="title is-size-5">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h1>
				<h2 class="subtitle is-size-6 has-text-weight-normal is-italic">
					{{ post.excerpt|raw }}
				</h2>
			</div>
		</figure>
{% endfor %}
