<!-- Musicography Widget Sidebar -->
<div class="widget-music">
	<h3 class="title has-text-centered is-size-5">
		Didgeridoo musicography
	</h3>
	<div class="columns cd-list">
		<div class="column cd-list-item">
			<article class="media">
				<figure class="media-left">
					<p class="image is-64x64">
						<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
					</p>
				</figure>
				<div class="media-right">
					<div class="content">
						<p>
							<strong>CD Name</strong> <small>by</small> <small>Band name</small>
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="media">
				<figure class="media-left">
					<p class="image is-64x64">
						<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
					</p>
				</figure>
				<div class="media-right">
					<div class="content">
						<p>
							<strong>CD Name</strong> <small>by</small> <small>Band name</small>
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="media">
				<figure class="media-left">
					<p class="image is-64x64">
						<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
					</p>
				</figure>
				<div class="media-right">
					<div class="content">
						<p>
							<strong>CD Name</strong> <small>by</small> <small>Band name</small>
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="media">
				<figure class="media-left">
					<p class="image is-64x64">
						<img src="https://f4.bcbits.com/img/a3814003062_16.jpg">
					</p>
				</figure>
				<div class="media-right">
					<div class="content">
						<p>
							<strong>CD Name</strong> <small>by</small> <small>Band name</small>
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
