// ***************** ACCORDION ***************** //
// Description:
// Generic style used Accordion
// --------------------------------------------------

.accordion__item {
  border-radius: $global-border-radius-component;
}

.accordion__item:not(:last-child) {
  margin-bottom: 15px;
}

.accordion__header {
  padding: 20px;
  padding-right: 50px;
  font-size: 1.25rem;
  position: relative;
	cursor: pointer;
	background-color: $gray-light;
}

.accordion__header::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url("https://cdn.statically.io/gist/koptyaisky/33f5da3d9e6b6cacdf5a353ad033c2ea/raw/c8468a17e0141ee82a2571deea1f76162abb47b6/arrow-down-blue.svg") no-repeat center;
  background-size: contain;
  transition: all .4s ease;
}

.accordion__body {
  padding: 20px;
  font-weight: 300;
  font-size: 0.875rem;
  color: #5f6c7b;
  line-height: 1.5;
  display: none;
}

.open-accordion .accordion__body {
  display: block;
}

.open-accordion .accordion__header::after {
  transform: rotate(-180deg);
}
