// ***************** PAGE CATEGORY ***************** //
// Description:
// Generic style used specific for the Page Category
// --------------------------------------------------


// ==================================================
// Remove the category label
// ==================================================
.is_blog-category {
  .block-articles {
    .category-holder {
      display: none;
    }
  }
}

// ==================================================
// Category Music
// ==================================================
.is_music-category{

  .hero {
    background-image: url("../images/bg/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;
  }

  .block-articles {
    .category-holder {
      display: none;
    }
  }
}
