// ***************** PAGE CATEGORY ***************** //
// Description:
// Generic style used specific for the Page Category
// --------------------------------------------------


// Remove the category label
.is_blog-post {

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  .post-image {
    margin-bottom: 20px;
  }

  .sidebar {
    background-color: $gray;
  }

  // Title
  h1 {
    font-size: 2.5em;
  }


  // Blog Quote
  blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    font-family: serif;
    line-height: 40px;
    max-width: 80%;
    margin: 30px auto;
    font-size: 1.5em;
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }
}
